//- menu
mixin navLink(href, name)
    a(class!=attributes.class href=href)= name

//- product-item
mixin product-item(href, src, title, price, currency)
    a(href=href).product-link
        figure.product-item
            img.product-item__img(src=src alt=title)
            figcaption.product-item__desc
                p.product-item__title= title
                p.product-item__price= price
                    span.product-item__currency= currency
                button.btn В корзину

//- product-item-2x
mixin product-item-2x(href, src, title)
    figure.product-item--2x
        img.product-item__img(src=src alt=title)
        figcaption.product-item__desc
            p.product-item__title= title
            a(href="").btn Смотреть все

//- checkout-cart
mixin cart-ticket(src, title, number)
    figure.cart-ticket
        img.cart-ticket__img(src=src, alt=title)
        figcaption.cart-ticket-desc
            p.cart-ticket__title= title
            p.cart-ticket__order Код товара
                span.cart-ticket__number= number

//- input
mixin input(type, name, labelFor, errMsg)
    .input-box(class!=attributes.class)
        input.input(type=type, name=name)(class!=attributes.class)
        label.input-label(for="")= labelFor
        .helper-box
            span.txt-error=errMsg