//- menu
mixin navLink(href, name)
    a(class!=attributes.class href=href)= name

//- product-item
mixin product-item(href, src, title, price, currency)
    a(href=href).product-link
        figure.product-item
            .product-item__img
                img(src=src alt=title)
            figcaption.product-item__desc
                p.product-item__title.overflow-ellipsis= title
                p.product-item__price= price
                    span.product-item__currency= currency
                button.btn В корзину

//- product-item-2x
mixin product-item-2x(href, src, title)
    a(href=href).product-link.product-big
        figure.product-item
            .product-item__img
                img(src=src alt=title)
            figcaption.product-item__desc
                p.product-item__title= title
                button.btn Смотреть все

//- checkout-cart
mixin cart-ticket(src, title, number)
    figure.ticket
        .ticket__img
            img(src=src, alt=title)
        figcaption.ticket__desc
            p.ticket__title= title
            p.ticket__order Код товара
                span.ticket__number= number

//- input
mixin input(type, name, labelFor, errMsg)
    .input-box(class!=attributes.class)
        input.input(type=type, name=name)(class!=attributes.class)
        label.input-label(for="")= labelFor
        .helper-box
            span.txt-error=errMsg